#about {
	background-color: #bb0808;
	background-image: repeating-linear-gradient(-45deg, #bb0808, #bb0808 36px, #b30000 36px, #b30000 40px);
	color: #fff;

	img {
		width: 345px;
		height: 460px;
		border-radius: 12px;
		border: 1px solid #f2f2f2;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

		@media (max-width: 1199.98px) {
			width: 320px;
			height: auto;
		}

		@media (max-width: 991.98px) {
			width: 260px;
		}
	}
}